[paths]
source =
    src/structured_data

[run]
branch = true
source =
    src
    tests
    test_resources
dynamic_context = test_function

[report]
show_missing = true
precision = 2
omit = *migrations*
