graft docs
graft src
graft ci
graft tests
graft test_resources
graft mutmut-runner
graft requirements

include .bumpversion.cfg
include .coveragerc
include .cookiecutterrc
include .editorconfig

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst

include .travis.yml appveyor.yml readthedocs.yml bandit.yml mypy.ini noxfile.py requirements.txt

prune mutmut-runner/target

global-exclude *.py[cod] __pycache__ *.so *.dylib
